<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <!-- 连接到sdongwan数据库-->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/phone workshop os</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect </property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!-- 注意这里，我的包名是org.sdw.app，而要写成下面的形式 -->
        <mapping resource="Model/Product.hbm.xml"/>

    </session-factory>
</hibernate-configuration>
